@{
    ViewData["Title"] = "Solidariza Brasil - Doação";
}

@model CreateDonationViewModel

<div class="row">
    <div class="col mt-5">
        <h1 class="text-center">Doe para Solidariza Brasil</h1>
        <p class="text-center">Transforme sua doação financeira em ajuda para quem precisa</p>
        
        
        <div class="alert alert-warning" role="alert">
            <p>Para doar, preencha o formulário abaixo com seus dados e o valor da doação.</p>
            <p>Seu CPF é obrigatório para a doação e deve ser o mesmo utilizado para fazer o PIX.</p>
        </div>
        
        <form method="post" asp-action="CreateDonation">
            @* @Html.EditorForModel() *@
            <div class="form-group mt-2 mb-2">
                <label asp-for="Name">Nome</label>
                <input asp-for="Name" class="form-control" placeholder="Digite seu nome"/>
                <p asp-validation-for="Name" class="text-danger"></p>
            </div>

            <div class="form-group mt-2 mb-2">
                <label asp-for="Email">E-mail</label>
                <input asp-for="Email" class="form-control" placeholder="Digite seu e-mail"/>
            </div>
            <div class="form-group mt-2 mb-2">
                <label asp-for="Cpf">CPF</label>
                <input asp-for="Cpf" type="text" class="form-control" id="cpf" placeholder="Digite seu CPF" required>
            </div>
            <div class="form-group mt-2 mb-2">
                <label asp-for="Amount">Valor</label>
                <input asp-for="Amount" type="number" class="form-control" id="valor" placeholder="Digite o valor da doação" required>
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="formaPagamento">Forma de pagamento</label>
                <select class="form-control" id="formaPagamento" disabled="disabled">
                    @* <option value="credito">Cartão de crédito</option> *@
                    @* <option value="debito">Cartão de débito</option> *@
                    @* <option value="boleto">Boleto</option> *@
                    <option value="pix" selected="selected">Pix</option>
                </select>
            </div>
            <div class="mt-5 mb-5">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Doar</button>
            </div>
        </form>
    </div>
</div>