@{
    ViewData["Title"] = "Solidariza Brasil - Manifesto";
}

<div class="row">
    <div class="col mt-5">
        <h1 class="text-center">Doe para Solidariza Brasil</h1>
        <p class="text-center">Transforme sua doação financeira em ajuda para quem precisa</p>
    </div>
</div>
<div class="row">
    <div class="col mt-5">
        <!-- Centralizar o QR Code -->
        <div class="text-center">
            <img src="~/images/225593a1-752f-445b-b8ef-c609c11868d6.jpeg" alt="QR Code do PIX" class="img-fluid w-50" style="max-width: 500px;"/>
            <p class="text-center mt-5">Chave PIX: <span class="font-monospace p-2" style="border: 1px solid #DADADA; background-color: #EEE; border-radius: 15px;">99a83454-88b0-406a-ada4-e2fe57d7b395</span></p>
            <p class="text-center">Nome: Erich Aparecido do Nascimento</p>
            <p class="text-center">CPF: •••.605.269-••</p>
            @* <p class="text-center">Valor: R$ 50,00</p> *@
            <p class="text-center">Descrição: Doação Solidariza Brasil</p>
        </div>
    </div>
</div>